PORT='7000'
BASE_URL=''
JWT_TOKEN_SECRET=''

AWS_BUCKET_NAME=''
AWS_BUCKET_REGION=''
AWS_ACCESS_KEY=''
AWS_SECRET_KEY=''

EMAIL_HOST='',
EMAIL_PORT='',
EMAIL_NAME='',
EMAIL_PASSWORD='',

SENDER_EMAIL=''
EMAIL=''
CLIENT_ID=''
CLIENT_SECRET=''
REDIRECT_URI=''
REFRESH_TOKEN=''

